<h1>Editing dio blog</h1>

<%= render "form", dio_blog: @dio_blog %>

<br>

<div>
  <%= link_to "Mostrar este livro", @dio_blog %> |
  <%= link_to "Voltar para livros favoritos", dio_blogs_path %>
</div>
