<p style="color: green"><%= notice %></p>

<h1>Livros Favoritos</h1>

<div id="dio_blogs">
  <% @dio_blogs.each do |dio_blog| %>
    <%= render dio_blog %>
    <p>
      <%= link_to "Mostrar este livro", dio_blog %>
    </p>
  <% end %>
</div>

<%= link_to "Adicionar livro", new_dio_blog_path %>
